@import "../node_modules/bootstrap/dist/css/bootstrap.css";
:root {
  --jaune: #c90;
  --aubergine: #8F0066;
  --blanc: #f5f5f5;
  --noer: #2e2e2e;
}


body    {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--noer);
    background-color: var(--blanc);
    margin: 0;
    padding: 0;
} 


h1      {
    font-family: "MedievalSharp", cursive;
}


h3      {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: var(--jaune);
    font-weight: bold;
    margin-top: 20px;
}


#menu   {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    background-color: var(--aubergine);
}


.nav-item > a {
    color: var(--jaune);
    text-decoration: none;
}


.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}
